body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 17px;
}

html {
    font-size: 100%;
}

h1 {
    font-family: Georgia, serif;
    line-height: 1.3;
}

.site-content {
    margin: 0 1em;
}


.site-header {
    background-color: #366;
}

.site-header,
.site-header a {
    color: #fff;
}

.titlelol {
    font-size: 30px;
}

.logolol {
    margin: 0 20px;
}

ul.inline-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.inline-list li {
    margin: 0;
    padding: 0;
    display: inline;
    margin-right: 10px;
}

.listing-date {
    font-size: .8em;
    color: #666;
}

p,
h2,
h3,
h4,
h5 {
    max-width: 700px;
}

.post-timestamp {
    color: #999;
    font-size: 12px;
    margin-bottom: 40px;
}

.originally-published {
    padding: 1em;
    color: #666;
    font-style: italic;
}

pre, code, .logolol {
    font-family: "Inconsolata", "Monaco", "Lucida Console", monospace;
}

code, tt {
    white-space: nowrap;
}

pre code {
    white-space: pre;
}

pre {
    border:2px solid #ddd;
    padding: 1em;
    overflow: hidden;
    display: inline-block;
}

pre, p code, ul code, ol code, pre code {
    background-color: #eee;
}

.interview-q {
    font-size: 1em;
}

.interview-q:before {
    content: "Q: ";
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 50px 0;
}

.highlight .c,
.highlight .c1 {  /* Comments */
    color: red;
}

.highlight .k,
.highlight .kd {  /* Builtins (?) */
    color: green;
    font-weight: bold;
}

.highlight .s,
.highlight .s2,
.highlight .ss { /* Strings, keywords */
    color: #369;
}