body {
    font-family: Georgia, serif;
}

.site-title {
    font-size: 1em;
    font-weight: bold;
    display: block;
    color: #777;
}

.site-header a {
    text-decoration: none;
}

.site-subtitle {
    font-size: .8em;
    margin-bottom: .5em;
    color: #aaa;
}

.site-header {
    padding-bottom: .5em;
    margin-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.site-content-main {
    max-width: 700px;
    margin: 0 auto;
}

h1 {
    font-size: 4em;
    margin: 0;
    padding: 0;
}

.post-timestamp, .listing-date {
    color: #666;
    font-style: italic;
    font-size: .8em;
}

.listed-post {
    margin: 2em;
}

p {
    line-height: 1.4;
}

pre {
    margin: 3em 0;
}

pre, code {
    font-family: courier, monospace;
    font-size: .9em;
}

pre code {
    white-space: pre;
}

.interview-q {
    font-size: 1em;
}

.interview-q:before {
    content: "Q: ";
}

.highlight .c,
.highlight .c1 {  /* Comments */
    color: red;
}

.highlight .k,
.highlight .kd {  /* Builtins (?) */
    color: green;
    font-weight: bold;
}

.highlight .s,
.highlight .s2,
.highlight .ss { /* Strings, keywords */
    color: #369;
}