body {
    font-family: Georgia, serif;
}

.site-title {
    font-size: 16px;
    font-weight: bold;
    display: block;
    color: #777;
}

.site-header a {
    text-decoration: none;
}

.site-subtitle {
    font-size: 13px;
    margin-bottom: 10px;
    color: #aaa;
}

.site-header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.post-title {
    background: #000;
    color: #fff;
    font-family: Helvetica, sans-serif;
    padding: 20px 0;
    font-size: 50px;
}

.site-content {
    max-width: 700px;
    margin: auto;
}

.post-timestamp, .listing-date {
    color: #666;
    font-style: italic;
    font-size: 14px;
}

.listed-post {
    margin: 25px;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 5px;
}

h2, h3, h4 {
    font-family: Helvetica, sans-srif;
}

p {
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 25px;
}

ul {
    margin: 1em;
    padding: 1em;
}

li {
    list-style-type: disc;
}

pre {
    margin: 30px 0;
}

pre, code {
    font-family: courier, monospace;
}

.post-body pre, .post-body code {
    font-size: 16px;
}

pre code {
    white-space: pre;
}

.interview-q {
    font-size: 1em;
}

.interview-q:before {
    content: "Q: ";
}

.highlight .c,
.highlight .c1 {  /* Comments */
    color: red;
}

.highlight .k,
.highlight .kd {  /* Builtins (?) */
    color: green;
    font-weight: bold;
}

.highlight .s,
.highlight .s2,
.highlight .ss { /* Strings, keywords */
    color: #369;
}