<p>In this blog, I'll explore functional databases. There'll be a mix of introductory material to those new to functional database concepts, and hardcore deep dives of specifics of Datomc and other functional databases.</p>

<% @posts.each do |post| %>
  <p><a href="<%= post.url %>"><%= post.title %></a> (<%= post.display_date %>)</p>
<% end %>
