<p>This blog is about functional databases. Mostly Datomic, but hopefully other functional databases too.</p>

<% @posts.each do |post| %>
  <p><a href="<%= post.url %>"><%= post.title %></a> (<%= post.display_date %>)</p>
<% end %>
